<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iproda.wallpapers" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="WallpaperList"
            android:label="@string/collection_mode"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.iproda.wallpapers.WALLPAPER_COL" />
            </intent-filter>
        </activity>
        <activity
            android:name="WallpaperItem"
            android:screenOrientation="landscape" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.iproda.wallpapers.WALLPAPER_VIEW" />
            </intent-filter>
        </activity>

        <service android:name="com.iproda.wallpapers.WallpaperService" >
            <intent-filter>
                <action android:name="com.iproda.wallpapers.WALLPAPER_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name="com.iproda.wallpapers.Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.iproda.wallpapers.ACTION_ALARM_WAKEUP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>